.dropdown{
    position: relative;

    .dropdown-menu{
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 1000;
        background-color: white;
        min-width: 200px;
        text-align: left;
        box-shadow: 0 0 1px rgba(57,70,78,.15), 0 20px 55px -8px rgba(57,70,78,.25);
    }

    &.is-aligned-right .dropdown-menu{
        right: 0;
        left: auto;
    }
    &.is-open .dropdown-menu{
        display: block;
    }
}

.navbar-end{
    .navbar-item{
        min-width: 200px;
    }
}

.menu-label{
    text-transform: uppercase !important;
}
.menu-list{
    li{
        a{
            text-transform: uppercase;
        }
        .submenu{
            li{
                a{
                    font-size: 0.9rem;
                }
            }
        }
    }
}